/*Pozadí - slepý mapa*/
body, html {
    height: 100%;
    margin: 0;
  }

  .bg {
    background-image: url("mapa-ceska.png");
    height: 100%; width: 100%;
    background-position: top left;
    background-repeat: no-repeat;
  }

/*Pohyblivé tlačítko - Pin*/
.custom-btn-container {
    height: 40px;
    width: 40px;
    background: #a88900;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Správná pozice*/
.custom-btn-container2 {
  height: 40px;
  width: 40px;
  background: #777777;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

