/*Pozadí - slepý mapa*/
body, html {
    height: 100%;
    margin: 0;
  }

  .outer-container{
    display: flex;  
    flex-direction: row;
  }

  .inner-container{ 
    flex-direction: column;
  }

  .player {
    border: 3px solid black; 
    width: 200px; 
    height: 100px;
    display: flex;  
    flex-direction: row;
  }

  .player-image {
    border: 1px solid black; 
    width: 80px; 
    height: 98px;
    background-image: url("/images/default_person_image.jpg");
    background-size: cover;
  }

  .player-nickname {
    border: 1px solid black; 
    width: 125px; 
    height: 45px;
    font-size: 25px;
  }

  .player-score {
    border: 1px solid black; 
    width: 125px; 
    height: 51px;
    font-size: 30px;
  }

  .bg {
    background-image: url("/images/mapa-ceska.png");
    width: 1035px; height: 600px;
    background-position: top left;
    background-repeat: no-repeat;
  }

/*Pohyblivé tlačítko - Pin*/
.custom-btn-container {
    height: 40px;
    width: 40px;
    background: #a88900;
    border-radius: 50%;
    position: absolute;
    top: 120px;
    left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

/*Správná pozice*/
.custom-btn-container2 {
  height: 40px;
  width: 40px;
  background: #777777;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.description {
  margin-left: 5px;
  display: flex;
  height: 55px;
  width: 1000px;
  border: 3px solid black; 
}

.letterBox {
  margin-left: 5px;
  margin-top: 5px;
  border: 3px solid black; 
  width: 50px; 
  height: 50px;
  display: flex;  
  flex-direction: row;
  font-size: 40px;
  justify-content: center; 
  visibility: hidden;
}

.custom-text-input {
  margin-left: 5px;
  margin-top: 5px;
}
